<a href="https://colab.research.google.com/github/arunachalamsh/arunachalamsh/blob/main/Copy_of_Python_assignment_letsupgrade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create two list of some brands

In [ ]:
test_list1 = ['cadbury','perk','munch','galaxy']
test_list2 = ['mars','kitkat','gems','Snickers']

 List overlapping of brand names in both list

In [ ]:
 
def intersection(lst1, lst2): 
    lst3 = [value for value in lst1 if value in lst2] 
    return lst3 
  
 
lst1 = ['cadbury','perk','munch','galaxy','mars','kitkat']
lst2 = ['mars','kitkat','gems','Snickers','cadbury'] 
print(intersection(lst1, lst2))

['cadbury', 'mars', 'kitkat']

 Print even numbers from 20 to 40

In [ ]:
start, end = 20,40
for num in range(start, end + 1):
       if num % 2 == 0: 
 
        print(num, end = " ")

20 22 24 26 28 30 32 34 36 38 40